{% extends "ticketing/base_page.html" %}
{% load static %}

{% block title %}
    فهرست سینما ها
{% endblock %}

{% block toolbar_title %}
    فهرست سالن های سینما
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col py-3">
                {% if cinemas %}
                    <ul class="item-list">
                        {% for cinema in cinemas %}
                        <li>
                            <a href="{% url 'ticketing:cinema_details' cinema_id=cinema.id %}">
                                <i class="fa fa-building"></i>
                                {{ cinema }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="alert alert-danger">
                        در حال حاضر هیچ سینمایی وجود ندارد.
                    </div>
                {% endif %}
        </div>
    </div>
{% endblock %}

